{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="page-wrapper">
			
    

    <!-- Page Content -->
    <div class="content container-fluid">
				
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Employee</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Employee</li>
                    </ul>
                </div>
                <div class="col-auto float-end ms-auto">
                    <a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_employee"><i class="fa-solid fa-plus"></i> Add Employee</a>
                    <div class="view-icons">
                        <a href="employees.html" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                        <a href="employees-list.html" class="list-view btn btn-link"><i class="fa-solid fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">  
                <div class="input-block mb-3 form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee ID</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <div class="input-block mb-3 form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3"> 
                <div class="input-block mb-3 form-focus select-focus">
                    <select class="select floating"> 
                        <option>Select Designation</option>
                        <option>Web Developer</option>
                        <option>Web Designer</option>
                        <option>Android Developer</option>
                        <option>Ios Developer</option>
                    </select>
                    <label class="focus-label">Designation</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="d-grid">
                    <a href="#" class="btn btn-success w-100"> Search </a>  
                </div>  
            </div>
        </div>
        <!-- Search Filter -->
        
        <!-- IMPLEMENT LIVE DELETION UPDATE OF THE TEMPLATE ALSO-->
        <div class="row staff-grid-row" id="user-{{user.id}}">
            {% for user in users %}
            <div id="user-{{user.id}}" class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget">
                    <div class="profile-img">
                        <a href="{% url 'apps.employees:employee_data' user.id %}" class="avatar"><img src="{{ user.employee.profile_picture.url }}" alt="User Image"></a>
                    </div>
                    <div class="dropdown profile-action">
                        <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#update_employee_data" onClick="editEmployee({{ user.id }})" data-user=""><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                            <a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#update_employee_data" onClick="getEmployeeData({{ user.id }})" data-user=""><i class="fa-solid fa-pencil m-r-5"></i> Get ED</a>
                            <a class="dropdown-item delete-button" href="javascript:void(0);" data-user-id="{{ user.id }}" data-bs-toggle="modal" data-bs-target="#delete_employee" id="row_delete_employee"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                        </div>
                    </div>
                    <h4 class="first-name m-t-10 mb-0 text-ellipsis"><a href="{% url 'apps.employees:employee_data' user.id %}">{{ user.first_name }}</a></h4>
                    <div class="small text-muted">{{ user.employee.position|default:"-" }}</div>
                </div>
            </div>
            {% endfor %}
          
            
        </div>
    </div>
    <!-- /Page Content -->
    
    <!-- Add Employee Modal -->
    <div id="add_employee" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Employee Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addEmployeeForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-img-wrap edit-img">
                                    <img class="inline-block" src="" alt="">
                                    <div class="fileupload btn">
                                        <span class="btn-text">Add Profile Picture</span>
                                        <input class="upload" type="file">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Username</label>
                                            <input type="text" class="form-control" value="" id="username" name="username">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Password</label>
                                            <input type="text" class="form-control" value="" id="password" name="password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">First Name</label>
                                            <input type="text" class="form-control" value="" id="first_name" name="first_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Last Name</label>
                                            <input type="text" class="form-control" value="" id="last_name" name="last_name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Email</label>
                                            <input type="text" class="form-control" value="" id="email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Password</label>
                                            <input type="text" class="form-control" value="" id="password" name="password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="submit-section">
                            <button type="submit" class="btn btn-primary submit-btn" onClick="add_employee">Submit Add Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Employee Modal -->
    


    <!-- Edit Employee Modal -->
    <div id="update_employee_data" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Employee Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="updateEmployee">
                        <input type="hidden" id="form-id" name="employee_id"> <!-- HIDDEN ID VALUE-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-img-wrap edit-img">
                                    <img class="inline-block" src="{{ user.employee.profile_picture.url }}" alt="User Image">
                                    <div class="fileupload btn">
                                        <span class="btn-text">edit</span>
                                        <input class="upload" type="file">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Username</label>
                                            <input type="text" class="form-control" id="form-username" value="" name="username">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Password</label>
                                            <input type="text" class="form-control" id="form-password" name="password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">First Name</label>
                                            <input type="text" class="form-control" id="form-first-name" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Last Name</label>
                                            <input type="text" class="form-control" id="form-last-name" value="" name="last_name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Email</label>
                                            <input type="text" class="form-control" value="" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Employee ID. No.</label>
                                            <input type="text" class="form-control" id="form-id-no" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Date of Birth</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" id="form-date-of-birth" type="text" value="" name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Department <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="form-department" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Position <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="form-position" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Reporting Manager</label>
                                            <input type="text" class="form-control" id="form-manager" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Start Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" id="form-start-date" type="text" value="" name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">End Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" id="form-end-date" type="text" value="" name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Company <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" id="form-company" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Address</label>
                                            <input type="text" class="form-control" id="form-address" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Phone No.</label>
                                            <input type="text" class="form-control" id="form-phone-number" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Emergency Contact Name</label>
                                            <input type="text" class="form-control" id="form-emergency-contact" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Emergency Contact Number</label>
                                            <input type="text" class="form-control" id="form-emergency-no" value="" name="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit Edit Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Employee Modal -->
    


    <!-- Delete Employee Modal -->
    <div class="modal custom-modal fade" id="delete_employee" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Employee</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="deleteButton" >Delete</a>                            
                            </div>
                        
                            <div class="col-6">
                                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Employee Modal -->



    </div>



<!-- SCRIPT FOR EMPLOYEE CRUD-->
{% endblock %}






{% block js %}

<script>
//ADD EMPLOYEE
//CONTINUE HERE
//ON CLICK KANA GAMITA
$("form#add_employee").submit(function() {
    var userName = $('input[name="username"]').val().trim();
    var firstName = $('input[name="first_name"]').val().trim();
    var lastName = $('input[name="last_name"]').val().trim();
    var email = $('input[name="email"]').val().trim();
    var password = $('input[name="password"]').val().trim();
    if (userName && firstName && lastName && email && password) {
        // Create Ajax Call
        console.log("ADD EMPLOYEE FUNCTION TRIGGER");
    }
});



//DELETE EMPLOYEE
// Click row delete button modal from table
$(document).on("click", "#row_delete_employee", function(e) {
    // Get the user ID from the clicked row
    var userId = e.currentTarget.dataset.userId;
    
    // Set the user ID attribute on the delete button modal
    $("#deleteButton").attr("data-user-id", userId);
});


// HANDLES DELETE BUTTON MODAL
$(document).on("click", "#deleteButton", function(e) {
    // Get the user ID from the delete button modal
    var userId = $(this).data("user-id");
    
    // Delete Django Ajax Call
    $.ajax({
        url: '{% url "apps.employees:delete_employee" %}',
        method: 'GET', // Use POST method for deletion
        headers: {
            'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token in the request headers
        },
        data: {
            'id': userId,
        },
        dataType: 'json',
        success: function (data) {
            console.log("Success Deletion");
            if (data.deleted) {
                // Show the toast message
                $('#deleteToast').toast('show');
                
                // Remove the modal backdrop and hide the modal
                $('.modal-backdrop').remove();
                $('#delete_employee').modal('hide');
                
                // Remove the deleted user's row from the table
                $("#user-" + userId).remove();
            } else {
                console.error("User deletion failed:", data.message); // Log server-side error message
            }
        },
        error: function(xhr, status, error) {
            console.error("AJAX Error:", error); // Log AJAX request error
        }
    });
});





// UPDATE USER
$("form#updateEmployee").submit(function() {
    var username = $('input[name="username"]').val().trim();
    var password = $('input[name="password"]').val().trim();
    var first_name = $('input[name="first_name"]').val().trim();
    var last_name = $('input[name="last_name"]').val().trim();
    var email = $('input[name="email"]').val().trim();
    if (username && password && first_name && last_name && email) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "apps.employees:manage_employee_data" %}',
            data: {
                'username': username,
                'password': password,
                'first_name': first_name,
                'last_name': last_name,
                'email': email
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  updateToUserTabel(data.user);
                }
            }
        });

    } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateEmployee').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});




// EDIT/UPDATE EMPLOYEE




  {% comment %} function editEmployee(id) {
    console.log("editEmployee Activated");
    if (id) {
        var div_id = "user-" + id;
        console.log(div_id);
        var first_name = $("#" + div_id).find(".first-name a").text(); // Updated selector
        console.log(first_name);
        $("#form-id").val(id);
        $("#form-first-name").val(first_name);
    }
}

     {% endcomment %}


// JavaScript function to fetch employee data via AJAX
function getEmployeeData(id) {
    console.log("getEmployeeData Activated");
    if (id) {
        $.ajax({
            url: "/api/employee-details/" + id + "/", // URL to employee data endpoint
            method: 'GET',
            data: {'id': id}, // Send the ID as data
            success: function(response) {
                console.log("Success AJAX CALL");
                console.log("Response:", response); // Log the entire response object
                
                var userData = response;
                var employeeData = response.employee;
                
                console.log("User Data:", userData); // Log user data
                console.log("Employee Data:", employeeData); // Log employee data

                // Populate form fields with user data
                $('#form-id').val(userData.id);
                $('#form-username').val(userData.username);
                $('#form-first-name').val(userData.first_name);
                $('#form-last-name').val(userData.last_name);
                $('#form-email').val(userData.email);

                // Populate form fields with employee data
                $('#form-id-no').val(employeeData.employee_id_no);
                $('#form-date-of-birth').val(employeeData.date_of_birth);
                $('#form-department').val(employeeData.department.department_name);
                $('#form-position').val(employeeData.position.position_name);
                $('#form-manager').val(employeeData.manager_id);
            },
            error: function(xhr, status, error) {
                console.log("AJAX CALL FAILED");
                console.log("Error:", error); // Log the error message
            }
        });
    }
}


{% comment %} function getEmployeeData(id) {
    console.log("getEmployeeData Activated");
    if (id) {
        $.ajax({
            url: "/api/employee-details/" + id + "/", // URL to employee data endpoint
            method: 'GET',
            data: {'id': id}, // Send the ID as data
            success: function(response) {
                console.log(response); // For example, log the response data
                console.log("Success AJAX CALL");
                var userName = response.username;
                var firstName = response.first_name;
                var lastName = response.last_name;
                var email = response.email;
                var idNo = response.id_no;
                var dateOfbirth = response.date_of_birth;
                var department = response.department;
                var position = response.position;
                var manager = response.manager;
                var startDate = response.start_date;
                var endDate = response.end_date;
                var company = response.company;
                var address = response.address;
                var phoneNumber = response.phone_number;
                var emergencyContact = response.emergency_contact;
                var emergencyNo = response.emergency_no;
             

                $('#form-id').val(id);
                $('#form-username').val(userName);
                $('#form-first-name').val(firstName);
                $('#form-last-name').val(lastName);
                $('#form-email').val(email);
                $('#form-password').val(password);
                $('#form-id-no').val(idNo);
                $('#form-date-of-birth').val(dateOfbirth);
                $('#form-department').val(department);
                $('#form-position').val(position);
                $('#form-manager').val(manager);
                $('#form-start-date').val(startDate);
                $('#form-end-date').val(endDate);
                $('#form-company').val(company);
                $('#form-address').val(address);
                $('#form-phone-number').val(phoneNumber);
                $('#form-emergency-contact').val(emergencyContact);
                $('#form-emergency-no').val(emergencyNo);
            },
            error: function(response) {
                console.log(response);
                console.log("AJAX CALL FAILED");

            }
        });
        
    }
} {% endcomment %}

// IMPLEMENT DJANGO REST FRAMEWORK IN HANDLING THE ISSUE OF DEPARTMENT AND POSITION FOR SERIALIZATION



    </script>

{% endblock %}
