{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="page-wrapper">
			
    

    <!-- Page Content -->
    <div class="content container-fluid">
				
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Employee</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="admin-dashboard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Employee</li>
                    </ul>
                </div>
                <div class="col-auto float-end ms-auto">
                    <a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_employee"><i class="fa-solid fa-plus"></i> Add Employee</a>
                    <div class="view-icons">
                        <a href="employees.html" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                        <a href="employees-list.html" class="list-view btn btn-link"><i class="fa-solid fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">  
                <div class="input-block mb-3 form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee ID</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <div class="input-block mb-3 form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3"> 
                <div class="input-block mb-3 form-focus select-focus">
                    <select class="select floating"> 
                        <option>Select Designation</option>
                        <option>Web Developer</option>
                        <option>Web Designer</option>
                        <option>Android Developer</option>
                        <option>Ios Developer</option>
                    </select>
                    <label class="focus-label">Designation</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="d-grid">
                    <a href="#" class="btn btn-success w-100"> Search </a>  
                </div>  
            </div>
        </div>
        <!-- Search Filter -->
        
        <!-- IMPLEMENT LIVE DELETION UPDATE OF THE TEMPLATE ALSO-->
        <div class="row staff-grid-row" id="user-{{user.id}}">
            {% for user in users %}
            <div id="user-{{user.id}}" class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                <div class="profile-widget">
                    <div class="profile-img">
                        <a href="{% url 'apps.employees:employee_data' user.id %}" class="avatar"><img src="{{ user.employee.profile_picture.url }}" alt="User Image"></a>
                    </div>
                    <div class="dropdown profile-action">
                        <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#update_employee_data" onClick="editEmployee({{ user.id }})" data-user=""><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                            <a class="dropdown-item delete-button" href="javascript:void(0);" data-user-id="{{ user.id }}" data-bs-toggle="modal" data-bs-target="#delete_employee" id="row_delete_employee"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                        </div>
                    </div>
                    <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="{% url 'apps.employees:employee_data' user.id %}">{{ user.first_name }} {{ user.last_name }} </a></h4>
                    <div class="small text-muted">{{ user.employee.position|default:"-" }}</div>
                </div>
            </div>
            {% endfor %}
          
            
        </div>
    </div>
    <!-- /Page Content -->
    
    <!-- Add Employee Modal -->
    <div id="add_employee" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Employee Form</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addEmployeeForm">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-img-wrap edit-img">
                                    <img class="inline-block" src="" alt="">
                                    <div class="fileupload btn">
                                        <span class="btn-text">Add Profile Picture</span>
                                        <input class="upload" type="file">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Username</label>
                                            <input type="text" class="form-control" value="" id="username" name="username">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Password</label>
                                            <input type="text" class="form-control" value="" id="password" name="password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">First Name</label>
                                            <input type="text" class="form-control" value="" id="first_name" name="first_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Last Name</label>
                                            <input type="text" class="form-control" value="" id="last_name" name="last_name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Email</label>
                                            <input type="text" class="form-control" value="" id="email" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Password</label>
                                            <input type="text" class="form-control" value="" id="password" name="password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="submit-section">
                            <button type="submit" class="btn btn-primary submit-btn" onClick="add_employee">Submit Add Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Employee Modal -->
    


    <!-- Edit Employee Modal -->
    <div id="update_employee_data" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Employee Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="updateEmployee">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="profile-img-wrap edit-img">
                                    <img class="inline-block" src="{{ user.employee.profile_picture.url }}" alt="User Image">
                                    <div class="fileupload btn">
                                        <span class="btn-text">edit</span>
                                        <input class="upload" type="file">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Username</label>
                                            <input type="text" class="form-control" value="" name="username">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Password</label>
                                            <input type="text" class="form-control" value="" name="password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">First Name</label>
                                            <input type="text" class="form-control" value="" name="first_name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Last Name</label>
                                            <input type="text" class="form-control" value="" name="last_name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Email</label>
                                            <input type="text" class="form-control" value="" name="email">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Employee ID. No.</label>
                                            <input type="text" class="form-control" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Date of Birth</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text" value="" name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Department <span class="text-danger">*</span></label>
                                            <select class="select" name="">
                                                <option>Select Department</option>
                                                <option>Web Development</option>
                                                <option>IT Management</option>
                                                <option>Marketing</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Designation <span class="text-danger">*</span></label>
                                            <select class="select" name="">
                                                <option>Select Designation</option>
                                                <option>Web Designer</option>
                                                <option>Web Developer</option>
                                                <option>Android Developer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Reporting Manager</label>
                                            <input type="text" class="form-control" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Start Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text" value="" name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">End Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text" value="" name="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Company <span class="text-danger">*</span></label>
                                            <select class="select" name="">
                                                <option>Dash Engineering Phil. Inc.</option>
                                                <option>Toyota Cagayan de Oro Group</option>
                                                <option>SMC Repairs & Maintenance Inc.</option>
                                                <option>Technology Builders Management Inc.</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Address</label>
                                            <input type="text" class="form-control" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Phone No.</label>
                                            <input type="text" class="form-control" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Emergency Contact Name</label>
                                            <input type="text" class="form-control" value="" name="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-block mb-3">
                                            <label class="col-form-label">Emergency Contact Number</label>
                                            <input type="text" class="form-control" value="" name="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit Edit Employee</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Employee Modal -->
    


    <!-- Delete Employee Modal -->
    <div class="modal custom-modal fade" id="delete_employee" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Employee</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn" id="deleteButton" >Delete</a>                            
                            </div>
                        
                            <div class="col-6">
                                <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Employee Modal -->



    </div>



<!-- SCRIPT FOR EMPLOYEE CRUD-->
{% endblock %}






{% block js %}

<script>
//ADD EMPLOYEE
//CONTINUE HERE
//ON CLICK KANA GAMITA
$("form#add_employee").submit(function() {
    var userName = $('input[name="username"]').val().trim();
    var firstName = $('input[name="first_name"]').val().trim();
    var lastName = $('input[name="last_name"]').val().trim();
    var email = $('input[name="email"]').val().trim();
    var password = $('input[name="password"]').val().trim();
    if (userName && firstName && lastName && email && password) {
        // Create Ajax Call
        console.log("ADD EMPLOYEE FUNCTION TRIGGER");
    }
});



//DELETE EMPLOYEE
// Click row delete button modal from table
$(document).on("click", "#row_delete_employee", function(e) {
    // Get the user ID from the clicked row
    var userId = e.currentTarget.dataset.userId;
    
    // Set the user ID attribute on the delete button modal
    $("#deleteButton").attr("data-user-id", userId);
});


// HANDLES DELETE BUTTON MODAL
$(document).on("click", "#deleteButton", function(e) {
    // Get the user ID from the delete button modal
    var userId = $(this).data("user-id");
    
    // Delete Django Ajax Call
    $.ajax({
        url: '{% url "apps.employees:delete_employee" %}',
        method: 'GET', // Use POST method for deletion
        headers: {
            'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token in the request headers
        },
        data: {
            'id': userId,
        },
        dataType: 'json',
        success: function (data) {
            console.log("Success Deletion");
            if (data.deleted) {
                // Show the toast message
                $('#deleteToast').toast('show');
                
                // Remove the modal backdrop and hide the modal
                $('.modal-backdrop').remove();
                $('#delete_employee').modal('hide');
                
                // Remove the deleted user's row from the table
                $("#user-" + userId).remove();
            } else {
                console.error("User deletion failed:", data.message); // Log server-side error message
            }
        },
        error: function(xhr, status, error) {
            console.error("AJAX Error:", error); // Log AJAX request error
        }
    });
});





// UPDATE USER
$("form#updateEmployee").submit(function() {
    var username = $('input[name="username"]').val().trim();
    var password = $('input[name="password"]').val().trim();
    var first_name = $('input[name="first_name"]').val().trim();
    var last_name = $('input[name="last_name"]').val().trim();
    var email = $('input[name="email"]').val().trim();
    if (username && password && first_name && last_name && email) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "apps.employees:manage_employee_data" %}',
            data: {
                'username': username,
                'password': password,
                'first_name': first_name,
                'last_name': last_name,
                'email': email
            },
            dataType: 'json',
            success: function (data) {
                if (data.user) {
                  updateToUserTabel(data.user);
                }
            }
        });

    } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateEmployee').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});


function editEmployee(userId) {
    // Make an AJAX request to fetch user data
    $.ajax({
        url: 'apps.employees:manage_employee_data', // Replace this URL with your endpoint to fetch user data
        type: 'GET',
        data: { user_id: userId },
        success: function(data) {
            // Update modal fields with user data
            $('#update_employee_data input[name="username"]').val(data.username);
            $('#update_employee_data input[name="password"]').val(data.password);
            $('#update_employee_data input[name="first_name"]').val(data.first_name);
            $('#update_employee_data input[name="last_name"]').val(data.last_name);
            $('#update_employee_data input[name="email"]').val(data.email);
            // Update other fields similarly...
        },
        error: function(xhr, status, error) {
            // Handle error
            console.error(error);
        }
    });
}


{% comment %} // EDIT EMPLOYEE
function editEmployee(id) {
    if (id) {
        div_id = "#user-" + id;
        username = $(div_id).find(".username").text();
        password = $(div_id).find(".password").text();
        first_name = $(div_id).find(".first_name").text();
        last_name = $(div_id).find(".last_name").text();
        email = $(div_id).find(".email").text();
        $('#username').val(username);
        $('#password').val(password);
        $('#first_name').val(first_name);
        $('#last_name').val(last_name);
        $('#email').val(email);

    }
  }
   {% endcomment %}

{% comment %} 
// Delete Django Ajax Call

// Click row delete button modal from table
$(document).on("click", "#row_delete_employee", function(e) {
    // Get the user ID from the clicked row
    var userId = e.currentTarget.dataset.userId;
    
    // Set the user ID attribute on the delete button modal
    $("#deleteButton").attr("data-user-id", userId);
});


// HANDLES DELETE BUTTON MODAL
$(document).on("click", "#deleteButton", function(e) {
    // Get the user ID from the delete button modal
    var userId = $(this).data("user-id");
    
    // Delete Django Ajax Call
    $.ajax({
        url: '{% url "apps.employees:delete_employee" %}',
        method: 'GET', // Use POST method for deletion
        headers: {
            'X-CSRFToken': '{{ csrf_token }}' // Include the CSRF token in the request headers
        },
        data: {
            'id': userId,
        },
        dataType: 'json',
        success: function (data) {
            console.log("Success Deletion");
            if (data.deleted) {
                // Remove the modal backdrop and hide the modal
                $('.modal-backdrop').remove();
                $('#delete_employee').modal('hide');
                
                // Remove the deleted user's row from the table
                $("#user-" + userId).remove();
            } else {
                console.error("User deletion failed:", data.message); // Log server-side error message
            }
        },
        error: function(xhr, status, error) {
            console.error("AJAX Error:", error); // Log AJAX request error
        }
    });
}); {% endcomment %}



    


    </script>

{% endblock %}



{% comment %} $.ajax({
    url: '{% url "apps.employees:register_employee" %}',
    data: {
        'username': userName,
        'first_name': firstName,
        'last_name': lastName,
        'email': email,
        'password': password,
    },
    dataType: 'json',
    success: function (data) {
        if (data.user) {
          appendToUsrTable(data.user);
        }
    }
});

} else {
alert("All fields must have a valid value.");
}
$('form#add_employee').trigger("reset");
return false; {% endcomment %}