{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="account-page">
    <div class="main-wrapper">
      <div class="account-content">
        <div class="container">
          <!-- Account Logo -->
          <div class="account-logo">
            <a href="admin-dashboard.html"><img src="{% static 'images/logo2.png' %}" alt="2Bit Synergys" /></a>
          </div>
          <!-- /Account Logo -->

          <div class="account-box">
            <div class="account-wrapper">
              <h3 class="account-title">Register</h3>
              <p class="account-subtitle">Access to our dashboard</p>

              <!-- Account Form -->
              <form method="POST" action="{% url 'account:register' %}">
                {% csrf_token %}
                <div class="input-block mb-4">
                  <label class="col-form-label">Email<span class="mandatory">*</span></label>
                  <input name="username" class="form-control" type="email" />
                </div>
                <div class="input-block mb-4">
                  <label class="col-form-label">Password<span class="mandatory">*</span></label>
                  <input name="password1" class="form-control" type="password" />
                </div>
                <div class="input-block mb-4">
                  <label class="col-form-label">Repeat Password<span class="mandatory">*</span></label>
                  <input name="password2" class="form-control" type="password" />
                </div>
                <div class="input-block mb-4 text-center">
                  <button class="btn btn-primary account-btn" type="submit">Register</button>
                </div>
                <div class="account-footer">
                  <p>
                    Already have an account? <a href="{% url 'account:login' %}">Login</a>
                  </p>
                </div>
              </form>
              <!-- /Account Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
